{% extends 'base.html' %}

{% block title %}Records: Body Mass Index{% endblock %}

    {% block content %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark scrolling-navbar bg-primary">
                <div class="container">
                    <a class="navbar-brand" href="{% url 'dashboard' %}">healthT R A C K E R</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicNav" aria-controls="basicNav" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="basicNav">
                <ul class="navbar-nav mr-auto smooth-scroll">
                    <li class="nav-item active">
                    <a class="nav-link" href="#">Records: Body Mass Index</a>
                    </li>
                </ul>
                  <ul class="navbar-nav nav-flex-icons">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'viewprofile' %}">{{user.username}}</a>
                    </li>
                    <li class="nav-item">
                        <p><a class="btn btn-primary" href="{% url 'logout' %}">Logout</a></p>
                    </li>
                    {% else %}
                    <li>
                        <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
                    </li>
                    <li>
                        <a class="btn btn-secondary" href="{% url 'signup' %}">Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
    
    <div class="page-header">
        {% if bmi_init %}
        <h2>Your BMI is {{bmi_init}}</h2>
        <h4> and has been added to the database</h4>
        {% endif %}
        <table class="table table-striped table-dark">
            <thead class="thread-light">
                    <tr>
                        <th scope="col">Height</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Date Recorded</th>
            <!--            <th scope="col">BMI</th> -->
                        <th scope="col">user</th>
                        <th scope="col">Calculated BMI</th>
                    </tr>
            </thead>
            <tbody>
                {% for item in bmi %}
                <tr>
                    <td>{{item.height}}</td>    
                    <td>{{item.weight}}</td>
                    <td>{{item.date_rec}}</td>
           <!--         <td>{{item.bmi}}</td> -->
                    <td>{{item.username}}</td>
                    <td>{{item.calculated_bmi}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    
    
    
    {% endblock %}